@model xManik.Models.Artwork

@{
    var base64 = Convert.ToBase64String(Model.Image);
    var img = String.Format("data:image/jpeg;base64,{0}", base64);
}

<h4>Artwork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPortfolioItem" method="post"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Image" />
            <div class="form-group">
                <input type="file" name="file" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="@img" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

