@model PortfolioViewModel

@{
    ViewData["Title"] = "Portfolio";
    ViewData.AddActivePage(ManageNavPages.Portfolio);
    List<Tuple<string,string>> images = new List<Tuple<string,string>>();
    if (Model.Images != null)
    {
        foreach (var item in Model.Images)
        {
            var base64 = Convert.ToBase64String(item.Image);
            images.Add(Tuple.Create(String.Format("data:image/gif;base64,{0}", base64),item.Description));
        }
    }
}


<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Descriprion"></label>
                <input asp-for="Descriprion" class="form-control" />
            </div>

            <div class="form-group">
                <input type="file" name="file" />
            </div>

            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>

<hr>

<div class="row">
    @foreach (var item in images)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/lights.jpg" target="_blank">
                    <img src="@item.Item1" />
                    <div class="caption">
                        <p>@item.Item2</p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
