@model xManik.Models.ProfileViewModels.DescriptionViewModel

@{
    ViewData["Title"] = "ProfileDescription";
    ViewData.AddActivePage(ProfileNavPages.ProfileDescription);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control">
</textarea>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


