@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    ViewData.AddActivePage(UserProfileMenuNavPages.AllAssigments);
}

<h2 class="text-center">Be first and publish your assigments!</h2>
