@model xManik.Models.News

@{
    ViewData["Title"] = "Details";
}

<h1 class="mt-4">@Model.Title</h1>

<p class="lead">Posted by <a href="#">Admin</a></p>
<hr>
@if (User.IsInRole("Admin"))
{
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
}

<p>Posted on @Model.DatePublished</p>
<hr>

<img class="img-fluid rounded img-responsive" src="http://placehold.it/900x300" alt="">
<hr>

<p class="lead">@Model.Text</p>
<hr>

<div>
    <a asp-action="Index">Back to List</a>
</div>
